body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em;
  font-size: 20px;
  margin: 0 15px;
}

nav a:hover {
  color: #e63946;
}


.banniere {
  background: url('https://c.wallhere.com/photos/24/42/1920x1080_px_pentagram_Satan_skull-1225539.jpg!d') no-repeat center center/cover;
  color: #ff3131;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
  background-position: 25% 25%
}

nav a:not(:last-child) {
  border-right: 2px solid #fff;
  padding-right: 50px; 
}

section {
  padding: 2em 5%;
}

h1 {
  font-size: 48px;
}

.vision-text {
  font-size: 30px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 2em 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  .banniere {
    height: 30vh;
    padding-top: 60px;
  }
}